@import '../../../sass/variables';

.headerContainer {
  height: 70px;
  border: 1px solid rgb(235, 235, 235);
  box-shadow: 0 2px 8px #f0f1f2;
  display: flex;
  align-items: center;

  .menuCol {
    float: none !important;
    margin: auto;
  }
}

.contentLayout {
  width: 100%;
}

.contentContainer {
  float: none !important;
  margin: auto;
  padding: 20px;
  @media screen and (min-width: $breakpoint-lg) {
    border-radius: 4px;
    //  transform: translateY(100%);
  }
  @media screen and (max-width: $breakpoint-xs) {
    // transform: translateY(0%);
  }
  @media screen and (min-width: $breakpoint-md) {
    // transform: translateY(0%);
  }
}
