@import '../../../sass/variables';

.layout {
  width: 100%;
}

.contentContainer {
  float: none !important;
  margin: auto;
  padding: 20px;
  @media screen and (min-width: $breakpoint-lg) {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 4px;
    transform: translateY(100%);
  }
  @media screen and (max-width: $breakpoint-xs) {
    transform: translateY(30%);
  }
  @media screen and (min-width: $breakpoint-md) {
    transform: translateY(100%);
  }
}

.title {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  color: $color-primary;
}
